* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  background-color: #ddd;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  font-size: 20px;
}
.task {
  width: 60%;
  padding: 5px;
  margin: 10px 0;
  background-color: #b8c9eb;
  display: flex; 
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.task.done {
  background-color: #0ce98288;
}
.des {
  padding-top: 0 !important;
}
.btn-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cancel {
  color: rgb(160, 17, 17);
  cursor: pointer;
}
.cancel:hover {
  color: rgb(128, 45, 45);
}