<div class="container">
  <div class="one">
    <h1>About Me</h1>
  </div>
  <div class="two">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est provident at ratione delectus, praesentium natus, dolor illo minus reiciendis assumenda maiores voluptatem error laboriosam fuga quisquam deserunt et sed. Optio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est provident at ratione delectus, praesentium natus, dolor illo minus reiciendis assumenda maiores voluptatem error laboriosam fuga quisquam deserunt et sed. Optio.</p>
    <button>Dwonloud CV</button>
  </div>
</div>