<div class="container">
  <h1>Portfolio</h1>
  <div class="items">
    <div class="item1">
      <div><h2>Lorem ipsum dolor</h2><hr style="width: 100%;"></div>
      <div><h2>Lorem ipsum dolor</h2><hr style="width: 100%;"></div>
      <div><h2>Lorem ipsum dolor</h2><hr style="width: 100%;"></div>
    </div>
    <div class="item2">
      <div><h2>Lorem ipsum dolor</h2><hr style="width: 100%;"></div>
      <div><h2>Lorem ipsum dolor</h2><hr style="width: 100%;"></div>
      <div><h2>Lorem ipsum dolor</h2><hr style="width: 100%;"></div>
    </div>
  </div>
</div>