* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  background-color: #ddd;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  font-size: 20px;
}
.task {
  width: 50%;
  padding: 5px;
  margin: 10px 0;
  background-color: gray;
  display: flex; 
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.task.done {
  background-color: rgb(24, 199, 24);
}
.des {
  padding-top: 0 !important;
}