<div class="container">
  <h1>Skills</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione quas nostrum, necessitatibus, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione quas nostrum, necessitatibus, rem labore aliquam voluptate a quam nesciunt dicta at saepe! Corporis voluptatum vel suscipit, natus ratione eligendi voluptas?</p>
  <div  class="container-inner">
    <div>
      <h3>My focus</h3>
      <hr>
      <h4>Lorem ipsum dolor</h4>
      <h4>Lorem ipsum dolor</h4>
      <h4>Lorem ipsum dolor</h4>
      <h4>Lorem ipsum dolor</h4>
    </div>
    <div class="skills">
      <div class="item">html</div>
      <div class="item">css</div>
      <div class="item">js</div>
      <div class="item">bootstrap</div>
      <div class="item">django</div>
      <div class="item">rest api</div>
      <div class="item">tailwind</div>
    </div>
  </div>
</div>