{% extends "login.html" %}

{% block body-background %}
<body style="background-color: #ddd;">
{% endblock body-background %}

{% block main-content %}
<div class="shadow-sm">
  <div class="head w-100" style="height: 250px; background-image: linear-gradient(to bottom, #676aec, #ae6dea);"></div>
  <div class="card">
    <div class="card-body d-flex justify-content-between" style="height: 125px;">
      <img class="img bg-primary rounded-circle border border-1 border-info" style="width: 250px; height: 250px; transform: translateY(-60%);"
       src="{{ userprofile.profile_picture.url }}">
       <h1 class="align-self-center pe-5">{{user.username}}</h1>
    </div>
  </div>
{% endblock main-content %}